/*
    Form Style Sheet
    Form Layout Styles
*/

.image-cropper {
    width: 170px;
    height: 170px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.profile-pic {
  display: inline;
  margin: 0 auto;
  /*margin-left: -25%;*/ /*centers the image*/
  height: 100%;
  width: auto;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;
}

h3 {
  font-family: 'Roboto Mono', monospace;
  color: white;
  font-size: 18px;
}

h3 span {
  font-family: 'Work Sans', sans-serif;
  margin-left: 18px;
  font-size:16px;
}

h2 span {
  font-family: "Lucida Console", "Courier New", monospace;
  margin-left: 50px;
  font-size:16px;
}

label {
   display: block;
   float: left;
   clear: left;
   margin: 5px;
   width: 200px;
   color: white;
   font-weight: bold;
}

input, select, textarea {
   display: block;
   float: left;
   margin: 5px 0px;
   width: 200px;
}

textarea {
   height: 100px;
}

form p {
   clear: left;
   text-align: center;
   padding-top: 40px;
   color: white;
   font-weight: bold;
}

input[type='submit'],input[type='reset'] {
   background-color: rgb(85, 138, 85);
   color: white;
   font-weight: bold;
   border-radius: 20px;
   float: none;
   display: inline;
   font-size: 1.1em;
   height: 30px;
   width: 150px;
}

table, th, td {
   border: 2px solid black;
   color: white;
   text-align: left;
   padding: 2px;

}
