{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Dark Theme Employee Payroll</title>
        <!-- Link all CSS stylesheets for base.html here...-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_forms.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_validate.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_clock_styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_calendar_styles.css' %}" />
        <!-- Link all JS files for base.html here -->
        <script src="{% static 'js/clock.js' %}" defer></script>
    </head>

    <body>
        <header>
            <img src="{% static 'images/dt_logo.png' %}" alt="Dark Theme Employee Payroll" id="logoimg" /> 
            <h1>Dark Theme Employee Payroll
                {% if user.is_authenticated %}
                <a href="/logout"><button>Logout</button></a>
                {% else %}
                <a href="/login"><button>Login</button></a>
                {% endif %}
            </h1>
        </header>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="search">Search Employee</a></li>
                <li class="newgroup"><a href="create">Add Employee</a></li>
                <li ><a href="edit/{{ id }}">Update Employee</a></li>
                <li class="newgroup"><a href="#">View Employee</a></li>
                <li><a href="#">View Paystubs</a></li>
                <li class="newgroup"><a href="generate-pay">Add New Paystub</a></li>
                <li><a href="#">Navigation Link</a></li>
            </ul>
        </nav>

        <section>
            {% block content %}

            {% endblock content %}
        </section>
        
        <aside>
            {% if user.is_authenticated %}
            <dt>Logged in user: {{ user }}</dt>
            {% else %}
            <dt>User Not Logged In</dt>
            {% endif %}
            <br/>
            <div id="clock">
                <div id="date"></div>
                <div id="wday"></div>
                <div id="time"></div>
            </div>
            <br/>
            <dt>Calendar </dt>
            <br/>
            <div class="dark" id="calendar">

                <div class="calendar">
                    <div class="calendar-header">
                        <span class="month-picker" id="month-picker"></span>
                        <div class="year-picker">
                            <span class="year-change" id="prev-year">
                                <pre><</pre>
                            </span>
                            <span id="year"></span>
                            <span class="year-change" id="next-year">
                                <pre>></pre>
                            </span>
                        </div>
                    </div>
                    <div class="calendar-body">
                        <div class="calendar-week-day">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="calendar-days"></div>
                    </div>
                    <!-- 
                    <div class="calendar-footer">
                        <div class="toggle">
                            <span>Dark Mode</span>
                            <div class="dark-mode-switch">
                                <div class="dark-mode-switch-ident"></div>
                            </div>
                        </div>
                    </div>
                    -->
                    <div class="month-list"></div>
                </div>
                <script src="{% static 'js/calendar.js' %}"></script>
            </div>

        </aside>
    </body>

    <footer>
        &copy; 2021 Dark Theme Users, Group Project
    </footer>

</html>