{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Dark Theme Employee Payroll</title>
        <!-- Link all CSS stylesheets for base.html here...-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_base.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_forms.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/dt_validate.css' %}" />
    </head>

    <body>
        <header>
            <img src="{% static 'images/dt_logo.png' %}" alt="Dark Theme Employee Payroll" id="logoimg" /> 
            <h1>Dark Theme Employee Payroll</h1> 
        </header>
        
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="employees/">Search Employee</a></li>
                <li class="newgroup"><a href="employees/create">Add Employee</a></li>
                <li><a href="#">Edit Employee</a></li>
                <li class="newgroup"><a href="#">Navigation Link Place Holder</a></li>
                <li><a href="#">Navigation Link Place Holder</a></li>
                <li class="newgroup"><a href="#">Navigation Link Place Holder</a></li>
                <li><a href="#">Navigation Link Place Holder</a></li>
            </ul>
        </nav>

        <section>
            <h1>Dark Theme Employee Payroll</h1>
            <p></p>
            {% block content %}

            {% endblock content %}
        </section>
        
        <aside>
            <dt>Viewing Employee ID # ... </dt>
            <dd>Last Name, First Name, etc...</dd>
    
            <dt>Logged in user: ...</dt>
            <dd>Username (Last Name, First Name, etc...)</dd>
        </aside>

    </body>

    <footer>
        Dark Theme Employee Payroll 
    </footer>

</html>