{% extends "base.html" %}


{% block content %}
<h1>Update: {{ object.last_name }}, {{ object.first_name}}</h1>
<p></p>

<form method="POST" id="updateEmployeeForm">
    {% csrf_token %}
    
    <label for="activeBox">Active<span style="color:red">*</span></label>
    {% if object.active %}
    <input name="active" id="activeBox" type="checkbox"  value="Active" checked required /> 
    {% else %}
    <input name="active" id="activeBox" type="checkbox"  value="Inactive" unchecked required /> 
    {% endif%}

    <label for="fnameBox">First Name<span style="color:red">*</span></label>
    <input name="fname" id="fnameBox" type="text"  placeholder="First Name" value="{{ object.first_name}}" required />
    
    <label for="mnameBox">Middle Initial</label>
    <input name="mname" id="mnameBox" type="text"  placeholder='M' value="{{ object.middle_name}}" />
    
    <label for="lnameBox">Last Name<span style="color:red">*</span></label>
    <input name="lname" id="lnameBox" type="text" placeholder="Last Name" value="{{ object.last_name}}" required />
    
    <label for="addBox">Address<span style="color:red">*</span></label>
    <textarea name="address" id="addBox" placeholder="Enter Address" value="{{ object.address }}" required ></textarea>
    
    <label for="emailBox">Email</label>
    <input name="email" id="emailBox" type ="email" value="{{ object.email }}" />
    
    <label for="wageBox">Wage<span style="color:red">*</span></label>
    <input name="wage" id="wageBox" type="number" step="0.01" value="{{ object.pay_rate }}" required />
    
    <p>
        <input type="submit" value="Update" />
    </p>

</form>

{% endblock content %}