{% extends "base.html" %}


{% block content %}
{% load static %}
<form method="POST" id="generatePayForm">
    {% csrf_token %}
    <label for="employeeBox">Employee<span style="color:red">*</span></label>
    <select name="employeeBox" required>
        <option value=""></option>
    {% for entry in employees %}
        <option value="{{ entry.id_number }}">{{ entry.first_name }} {{entry.last_name}}</option>
    {% endfor %}
    </select>
    <label for="so_period">Start of Pay Period<span style="color:red">*</span></label>
    <input name="so_period" id="so_period" onchange="retrieveDateRange()" type="date" required />
    <label for="eo_period">End of Pay Period<span style="color:red">*</span></label>
    <input name="eo_period" id="eo_period" onchange="retrieveDateRange()" type="date" required />

    <p>Enter the number of hours worked each day (max 10).</p>
    
    <div id="container"></div>

    <p>
        <label for="total">Total Hours:</label>
        <input type="text" name="total" id="total"/>
    </p>

    <p>
        <input type="reset" onclick="resetDateSlots()" />
        <input type="submit" value="Generate Pay" />
    </p>
    <script src="{% static 'js/generate_paystub.js' %}"></script>
</form>

{% endblock content %}
