{% extends "base.html" %}


{% block content %}

<h1>Search Employee</h1>
<p></p>

<form id="searchEmployeeForm" method="GET">
    {% csrf_token %}

    <p>Enter employee's first or last name.<br> </p>

    <p></p>

    <label for="fnameBox">First Name</label>
    <input name="fname" id="fnameBox" type="string" />

    <label for="lnameBox">Last Name</label>
    <input name="lname" id="lnameBox" type="string" />
    <p>
        <input type="submit" value="Search" />
    </p>

    <p>

    <div id="table">
        <table width="100%" style="color: white; text-align: left">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for emp in employees %}
                    <tr>
                        <td> {{ emp.id_number }} </td>
                        <td> {{ emp.last_name }} </td>
                        <td> {{ emp.first_name }} </td>
                        <td> <a href="view/{{ emp.id_number }}" style="color: white;">View</a></td>
                        <td> <a href="edit/{{ emp.id_number }}" style="color:white">Update</a></td>
                        <td> <a href="paystubs/{{ emp.id_number }}" style="color: white;">Paystubs</a></td>
                    </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
 
</p>
    
    
</form>

{% endblock content %}
